@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-color:#fff;
    --blue-color: #00aaff;

}
html{
    font-size: 62.5%;
}
.Home{
    min-height: 100vh;
    background-image: url(./adelin-preda--stars-unsplash.jpg);
    background-size: cover;
    position: relative;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    color: var(--text-color);
    font-size: 2.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10rem;
    animation: to_bottom 1s ease forwards;
}
header nav a{
    text-decoration: none;
    color: var(--text-color);
    transition: .3s;
    margin-left: 6rem;
}
header nav a:hover,
header nav .active{
    color: var(--blue-color);
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.content-box{
    width: 50%;
    display: flex;
    align-items:  8rem;
    margin-left: 8rem;
    z-index: 3;
}
.text-box h1{
    font-size: 4.6em;
    font-weight: 300;
    animation: to_left 1s ease forwards;
}
.text-box h1:nth-child(2){
    animation-delay: .1s;
}
.text-box .skills{
    color: var(--blue-color);
    opacity: 1;
}
.text-box p{
    margin: 2.5rem 0;
    font-size: 1.4rem;
    animation: to_left 1s ease forwards .2s;
}
.content-box .icon-box{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-right: 3rem;
    opacity: 0;
    animation: to_right 1s ease forwards .4s;
}
.content-box .icon-box i{
    color: var(--blue-color);
    padding: .7rem;
    margin-top: auto;
    font-size: 2.6rem;
    cursor: pointer;
    border: .2rem solid var(--blue-color);
    border-radius: 50%;
    transition: .2s;
}
.content-box .icon-box i:hover{
    color: var(--text-color);
    background-color: var(--blue-color);
    box-shadow: 0 0 1.5rem var(--blue-color);
}
.text-box .btn{
    color: var(--text-color);
    padding:  .8rem 2.8rem;
    border: .2rem solid var(--blue-color);
    background-color: var(--blue-color);
    font-size: 2rem;
    cursor: pointer;
    border-radius: .4rem;
    transition: .2s;
    animation: to_left 1s ease forwards .3s;
}
.text-box .btn:hover{
    box-shadow: 0 0 1.5rem var(--blue-color);
}
.img{
    width: 30%;
    border: .5rem solid var(--text-color);
    border-radius: 50%;
    box-shadow: 1rem 1rem 5rem var(--blue-color);
    background-color: var(--blue-color);
    margin-right: 8rem;
    transform: scale(0);
    animation: scale_img 1.5s ease forwards .5s;
}
.text-box *{
    opacity: 0;
}
@keyframes to_bottom {
    0%{
        opacity: 0;
        transform: translateY(-8rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes to_left {
    0%{
        opacity: 0;
        transform: translateX(8rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes to_right {
    0%{
        opacity: 0;
        transform: translateX(-4rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes scale_img {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}